.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;

  @include mobail {
    width: 480px;
  }

  @include tablet {
    width: 768px;
  }

  @include desktop {
    width: 1200px;
  }
}
