.logo {
  display: inline-block;

  color: #000000;
  font-family: Raleway, sans-serif;
  @include font(24, null, 28, 0.03);

  @include desktop {
    @include font(26, null, 31, 0.03);
  }
}

.logo__text {
  color: $accent-color;
}
