@mixin flex-align-justify {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin font($fs, $fw, $lh, $ls) {
  font-size: $fs + px;
  font-weight: $fw;
  line-height: $lh / $fs;
  letter-spacing: $ls + em;
}

@mixin mobile {
  @media screen and (min-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}
