/* CLIENTS */

.clients {
  padding-bottom: 94px;
}

.clients__title {
  margin-top: 0;
  margin-bottom: 50px;
  min-width: 264px;
  padding-top: 94px;
  color: $primari-text-color;
  @include font(36, null, 42, 0.03);
  text-align: center;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc((100% - 150px) / 6);
  margin: 0;
  padding: 0;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  @include flex-align-justify;
  width: 170px;
  height: 92px;

  color: #afb1b8;
  background-color: $text-white;
  border: 1px solid #afb1b8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
    border: 1px solid $accent-color;
  }
}

.clients__icon {
  fill: currentColor;
  width: 106px;
  height: 160px;
}
