/* OUR-WORK */

.our-work {
  padding-bottom: 94px;

  @media screen and (min-width: $mobal) {
    display: none;
  }
}

.our-work__title {
  margin-top: 0;
  margin-bottom: 50px;
  min-width: 366px;
  color: $primari-text-color;
  @include font(36, null, 42, 0.03);
  text-align: center;
}

.gallery {
  display: flex;
}

.gallery__item {
  margin: 0;
  width: 370px;
  height: 294px;
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.gallery__label {
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
  position: absolute;
  @include font(14, null, 16, 0.03);
  text-align: center;
  text-transform: uppercase;
  color: $text-white;
}
