/* PAGE-HEADER */

.page-header {
  border: 1px solid #ececec;
  width: 100%;
}

.page-header__container {
  @extend %flex-align;
}

.page-header__nav {
  display: none;

  @include tablet {
    display: block;
  }

  @include desktop {
    display: block;
  }
}

.page-header__list {
  display: flex;

  @include tablet {
    margin-left: 87px;
  }

  @include desktop {
    margin-left: 93px;
  }
}

.page-header__item:not(:last-child) {
  margin-right: 50px;
}

.page-header__link {
  display: block;
  padding-top: 32px;
  color: $primari-text-color;
  @include font(14, 500, 16, 0.02);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &--current {
    color: $accent-color;
    display: flex;
    flex-direction: column;
  }

  &--current::after {
    content: '';
    border-radius: 2px;
    min-width: 48px;
    height: 4px;
    background: currentColor;
    display: block;
    margin-top: 28px;
  }
}

.page-header__button {
  margin-left: auto;
  border: none;
  background-color: transparent;
  padding: 10px 0;
  display: inline-flex;

  @media screen and (max-width: 480px) {
    display: block;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.contact {
  display: none;

  @include tablet {
    display: block;
    margin-left: auto;
  }

  @include desktop {
    display: flex;
    margin-left: auto;
  }
}

.contact__item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include tablet {
    margin-bottom: 10px;
  }

  @include desktop {
    margin-left: 50px;
  }
}

.contact__link {
  color: $title-text-color;
  @include font(14, 500, 16, 0.02);
  @extend %flex-align;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @include desktop {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contact__icon {
  fill: currentColor;
  margin-right: 10px;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
