/* PAGE-FOOTER */

.page-footer {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: #2f303a;
}

.page-footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
    align-items: baseline;
  }

  @include desktop {
    align-items: baseline;
    flex-wrap: nowrap;
  }
}

.page-footer__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    margin-right: 165px;
    flex-direction: column;
    align-items: center;
  }

  @include desktop {
    display: block;
    margin-right: 70px;
    margin-left: 0px;
  }
}

.page-footer__address {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  min-width: 232px;

  @include desktop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0px;
  }
}

.page-footer__text {
  margin-top: 0;
  margin-bottom: 9px;
  color: $text-white;
  font-style: normal;
  @include font(14, null, 24, 0.03);
}

.page-footer__link {
  display: inline-block;
  font-style: normal;
  @include font(14, null, 24, 0.03);
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:not(:last-child) {
    margin-bottom: 9px;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.page-footer__logo {
  margin-bottom: 20px;
  color: #ffffff;
}

.page-footer__grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;

  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
  }

  @include desktop {
    margin-right: 93px;
    margin-bottom: 0px;
    align-items: baseline;
  }
}

.page-footer__title {
  @include font(14, null, 16, 0.03);
  text-transform: uppercase;
  color: $text-white;
  margin-bottom: 20px;
  text-align: center;

  @include tablet {
    text-align: center;
  }
  @include desktop {
    text-align: left;
  }
}

.page-footer__socials {
  color: $text-white;
  background-color: rgba(255, 255, 255, 0.1);
}

.page-footer__field {
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: column;
    align-items: center;
  }

  @include desktop {
    display: flex;
    flex-direction: row;
  }
}

.page-footer__input {
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  color: $text-white;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 20px;

  &::placeholder {
    @include font(16, null, 20, 0.03);
    align-items: center;
    color: rgba(255, 255, 255, 0.6);
  }

  &:focus {
    border-color: $text-white;
    outline: none;
  }

  @include tablet {
    min-width: 450px;
    margin-bottom: 20px;
  }

  @include desktop {
    min-width: 358px;
    margin-right: 16px;
    margin-bottom: 0px;
  }
}

.page-footer__button {
  padding: 10px 28px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
}

.page-footer__icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}
