/* PORTFOLIO */
/* OUR-PROJECTS*/

.our-projects {
  padding-bottom: 60px;
  z-index: 1;

  @include desktop {
    padding-bottom: 94px;
  }
}

.our-projects__filter {
  display: flex;
  flex-wrap: wrap;
  padding-top: 60px;
  margin-bottom: 40px;
  gap: 8px;
  width: 326px;

  & :not(:last-child) {
    margin-bottom: 15px;
  }

  @include tablet {
    margin-bottom: 14px;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
  }

  @include desktop {
    justify-content: center;
    padding-top: 94px;
    margin-bottom: 34px;
  }
}

.our-projects__button {
  padding: 6px 22px;
  @include font(16, 500, 26, 0.03);
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:active {
    color: $text-white;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.our-projects__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 30px;
  width: 100%;
}

.our-projects__item {
  @include mobile {
    flex-basis: 100%;
  }

  @include tablet {
    flex-basis: calc((100% - 30px) / 2);
  }

  @include desktop {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.our-projects__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.our-projects__wrap {
  overflow: hidden;
  position: relative;
}

.our-projects__info {
  content: '';
  @include font(18, null, 28, 0.03);
  color: $text-white;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  margin: 0;
  background-color: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .our-projects__item:hover &,
  .our-projects__item:focus & {
    opacity: 1;
    transform: translateY(0);
  }
}

.our-projects__title {
  margin: 0 0 4px 0;
  color: $primari-text-color;
  @include font(18, null, 36, 0.06);
}

.our-projects__description {
  padding: 20px 24px;
  background: #ffffff;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  flex-grow: 1;
}

.our-projects__text {
  margin: 0;
  color: $title-text-color;
  @include font(16, null, 30, 0.03);
}
